<plugin name='haml' version='0.4' grailsVersion='2.0.* &gt; *'>
  <author>Ray Myers</author>
  <authorEmail>ray.myers@gmail.com</authorEmail>
  <title>haml</title>
  <description>\
Haml support for grails, based on JHaml.

http://github.com/raymyers/haml4grails

http://github.com/raymyers/JHaml
</description>
  <documentation>http://grails.org/plugin/haml</documentation>
  <type>HamlGrailsPlugin</type>
  <resources />
  <repositories>
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>